<div class="main-container">
    <div class="title-container">
      <p-floatLabel>
        <input
          type="text"
          id="title"
          autocomplete="off"
          ncInputContextmenu
          pInputText
          [formControl]="titleFormControl"
        />
        <label for="title">Title</label>
      </p-floatLabel>
    </div>
    <div class="actions-container">
      <p-button
        label="Save"
        severity="primary"
        (onClick)="confirm()"
        [disabled]="!titleFormControl.value"
      ></p-button>
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="cancel()"
      ></p-button>
    </div>
  </div>
  