.main-container{
    display: grid;
    height: 2.7rem;
    background-color: var(--complimentary-color-a);
    // background-color: var(--surface-card);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-template-columns: 1fr auto;
    transition: height 0.2s;
    
}

.collapsed-menu {
    height: 0.7rem !important;
    box-shadow: none;
}

.drag-region {
    display: grid;
    justify-content: start;
    height: 100%;
    align-content: center;
    grid-auto-flow: column;
    padding-right: 2rem;
    align-items: center;
    gap: 0.3rem;
}

.template-title {
    pointer-events: none;
    // font-weight: 700;
    font-size: medium;
    align-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--text-color);
}

.left-container {
    position: relative;
    display: grid;
    gap: 0.3rem;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: start;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto 1fr;

}

.title-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 0.2rem
}

.template-title {
    font-size: small;
    color: var(--text-color);
    // text-align: center;
}

.template-edit-icon {
    background-color: var(--text-color) !important;
}

.menu-button {
    // pointer-events: !important;
}

.actions-button {
    padding-left: 0.2rem;
}

.right-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    box-sizing: border-box;

    align-items: center;
}

.base-button {
    display: grid;
    height: 100%;
    width: 3.25rem;
    // border: 1px solid black;
    transition: background-color 200ms, fill 200ms;
    align-content: center;
    justify-items: center;
    fill: var(--text-color);
    background-color: transparent;
}


.default-button {
    &:hover {
        background-color: var(--menubar-button-hover-bg);
    }
    &:active {
        background-color: var(--menubar-button-active-bg);
    }
}

.add-note-button {
    @extend .base-button, .default-button; 
}


.minimize-button {
    @extend .base-button, .default-button;
}

.restore-button {
    @extend .base-button, .default-button;
}


.close-button {
    @extend .base-button;

    &:hover {
        fill: white !important;
        background-color: rgb(232, 17, 35) !important;
    }
    &:active {
        background-color: rgba(232, 17, 35, 0.7) !important;
    }
}

.close-button-icon {
    transition: background-color 200ms;
    // transform: translateY(-1px);
}

.close-button-icon-hovered {
    background-color: white !important;
}