.main-container {
  display: grid;
  padding: 1rem;
  position: relative;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.add-note-button {
  position: fixed;
  right: 1rem;
  top: 4rem;
  z-index: 4;
}

.back-home-button {
  width: min-content;
}

.searchbar-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
  // padding-top: 1rem;
  padding-left: 1rem;
  // padding-bottom: 0.5rem;
  // height: 3rem; // TEMPORARY
}

.notes-container {
  display: grid;
  //   overflow: hidden;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 0.5rem;
  grid-auto-rows: min-content;
  //   padding-right: 3rem;
}

.note-item-container {
  // z-index: 2;
  transform: none;
  position: relative;
  // transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  &:hover::before {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px;
    // scale: 1.01;
  }
  &:active::before {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 30px;
    // scale: 1.02;
  }
  &:hover::after {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 15px 30px;
    // scale: 1.01;
  }
  &:active::after {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 30px;
    // scale: 1.02;
  }
}

.note-item-container::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(100% - 2rem);
    // z-index: 2;
    // background-color: aqua;
    border-radius: var(--border-radius) 0rem 0rem var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.note-item-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: calc(100% - 2rem);
    width: 2rem;
    z-index: -1;
    // background-color: aqua;
    border-radius: 0rem var(--border-radius) var(--border-radius) 0rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.call-to-action-container {
  display: grid;
  align-content: center;
  justify-items: center;
  gap: 1rem;
  color: var(--text-color-secondary);
  text-align: center;
  font-size: large;
}

